* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: slategray;
    margin: auto;
    padding: 20px;
    max-width: 600px;
}
h2 {
    text-align: center;
    color: snow;
}
input[type="text"], button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    text-align: center;
}
button {
    margin-right: 10px;
    font-size: 1rem;
    color: darkslategray;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 8px 0;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
}
.task text {
    flex: 1;
    margin: 0 10px;
    word-break: break-word;
    font-size: larger;
    color: darkslateblue;
}
.delete-btn {
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: auto;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
